---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Junio 2025 - Presente",
    title: "Desarrollo Full-Stack",
    company: "Everycode SL",
    description:
      "Trabajo en backend con Java-Spring-Maven aplicando patrón facade y arquitectura hexagonal. Desarrollo de sistema de estadísticas con Matomo y Jasper Reports. En frontend con Nuxt-Vue, optimicé tiempos de carga hasta un 90%. Integración CI/CD y metodologías ágiles con Jira.",
  },
  {
    date: "Marzo 2022 - Junio 2025",
    title: "Desarrollo Full-Stack y Soporte a Cliente",
    company: "IT Backing",
    description:
      "Refactorización y optimización con Java 17 aplicando SOLID y polimorfismo. Creación de API REST con SpringBoot para MongoDB y MySQL. Desarrollo de widgets en Angular y configuración de servidores Linux con SSH, SSL y Nginx. Gestión de repositorios con Azure Repos y mentoría a nuevos empleados.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
