---
import ExperienceItem from "./ExperienceItem.astro"
import { t } from "../lib/translations"

const lang = Astro.url.pathname.includes("/eng") ? "en" : "es";

const EXPERIENCE = [
  {
    key: "experience.item1",
    date: t(lang, "experience.item1.date"),
    title: t(lang, "experience.item1.title"),
    company: t(lang, "experience.item1.company"),
    description: t(lang, "experience.item1.description"),
  },
  {
    key: "experience.item2",
    date: t(lang, "experience.item2.date"),
    title: t(lang, "experience.item2.title"),
    company: t(lang, "experience.item2.company"),
    description: t(lang, "experience.item2.description"),
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem
          {...experience}
          titleKey={`${experience.key}.title`}
          companyKey={`${experience.key}.company`}
          dateKey={`${experience.key}.date`}
          descriptionKey={`${experience.key}.description`}
        />
      </li>
    ))
  }
</ol>
