---
// simple button that toggles language; actual text will be set by i18n script
---
<button
  type="button"
  data-i18n-key="misc.toggle"
  data-i18n-toggle
  class="ml-2 px-2 py-1 rounded text-sm bg-gray-200 dark:bg-gray-700 hover:bg-gray-300 dark:hover:bg-gray-600 transition"
>
  ES
</button>